<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ERRORS" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/${simulation_name}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>%msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test_results.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>%msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="USERS" class="ch.qos.logback.core.FileAppender">
        <file>logs/users.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>%msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="io.gatling.http.engine.response.DefaultStatsProcessor" level="TRACE"/>
    <logger name="io.gatling.core.stats.writer.ConsoleDataWriter" level="TRACE"/>

    <root level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERRORS"/>
        <appender-ref ref="USERS"/>
    </root>

</configuration>
